body {
  background-image: url('../assets/images/background.jpg');
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
}

.heading {
  display: grid;
  grid-template-columns: 34% 30% 36%;
}

#notes {
  display: none;
  padding: 20px 10px;
}

#fac_notes {
  display: none;
  padding: 20px 10px;
}

#info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  font-size: 11pt;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-weight: 400;
}

#info p {
  margin: 0;
}

#gpa {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
}

#gpa p {
  margin: 0;
}

h1 {
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 28pt;
  font-weight: 600;
}

button {
  background-color: rgba(0, 0, 0, 0.424);
  color: white;
  border-radius: 10px;
  border: 1px white solid;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.801);
}

#buttons {
  text-align: right;
}

#logout {
  margin-top: 1vh;
  height: 40px;
  width: 80px;
}

#options {
  height: 40px;
  width: 80px;
}

#save {
  height: 40px;
  width: 80px;
}

#banner {
  display: grid;
  grid-template-columns: 25% 25.2% 49.8%;
  height: 2vh;
  margin-bottom: 1vh;
}

.banner-element {
  background-color: rgba(153, 203, 223, 0.6);
  text-align: center;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 8px;
  margin: 2px 2px 2px 2px;
}

#grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 66% 4% 30%;
  height: 90vh;
}

.section-heading {
  margin-top: 0.6vh;
}

#section1 {
  background-color: rgba(0, 0, 0, 0.6);

  border: 2px solid black;
  border-radius: 10px;
  margin: 2px 2px 2px 2px;
}

#section2 {
  background-color: red;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto auto auto;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;

  border: 2px solid black;
  border-radius: 10px;
  margin: 2px 2px 2px 2px;
  justify-content: center;

  padding-top: 10px;
}

#section3 {
  background-color: yellow;
  background-color: rgba(0, 0, 0, 0.6);

  border: 2px solid black;
  border-radius: 10px;
  margin: 2px 2px 2px 2px;
}

/**CHANGED*/
#section4 {
  background-color: green;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px 2px 2px 2px;
  overflow: auto;

  /**
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  */
}

.category {
  background-color: rgb(124, 197, 208);
  width: auto;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
  padding-right: 2px;

  border-radius: 3px;

  text-align: left;
  font-weight: 500;
}

.category:hover {
  background-color: rgb(0, 177, 204);
}

.req_course {
  background-color: rgb(197, 203, 204);
  width: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 3px;
  margin-left: 3px;
  padding-right: 2px;

  border-radius: 3px;

  text-align: left;
  font-weight: 500;
}

.req_course:hover {
  background-color: rgb(210, 216, 216);
}

#requirements_cell {
  background-color: rgb(232, 232, 232);
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px 5px 1px 5px;
  opacity: 100%;
  height: 96%;
}

#requirements_cell:hover {
  background-color: white;
}

.cell {
  border: 3px solid black;
  border-radius: 10px;
  margin: 1px 1px 1px 1px;
  opacity: 100%;
}

.history-cell {
  background-color: rgb(176, 176, 176);
}

.active-cell {
  background-color: rgb(232, 232, 232);
}

.active-cell:hover {
  background-color: white;
}

.top-cell {
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: 700;
}

.title p {
  margin-bottom: 0;
  margin-top: 0;
}

.semester {
  display: inline;
  margin-left: 5px;
}

.credit-hours {
  display: inline;
  margin-right: 6px;
}

.history-designator {
  background-color: rgb(90, 90, 90);
}

.active-designator {
  background-color: rgb(124, 197, 208);
}

.designator {
  display: inline-block;
  width: 75px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 3px;
  padding-right: 2px;

  border-radius: 3px;

  text-align: right;
  font-weight: 500;
}

.name {
  display: inline;
}

.course {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 9.5pt;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.active-course:hover {
  background-color: rgb(229, 229, 229);
}

.active-course:hover .active-designator {
  background-color: rgb(193, 193, 193);
  background-color: rgb(0, 177, 204);
}

#bottom-strip {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 4;
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 10px;
}

#open-notes {
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 100px;
}

#open-notes:hover {
  background-color: rgba(0, 0, 0, 0.62);
}

/* new */
#delete-course {
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 100px;
}

/* new */
#delete-course:hover {
  background-color: rgba(0, 0, 0, 0.62);
}

#add-year {
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 100px;
}

#add-year:hover {
  background-color: rgba(0, 0, 0, 0.62);
}

#links-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1vh;
}

.link {
  width: 22vw;
  height: 2.6vh;

  margin-top: 0.3vh;

  /* padding-top: 0.9vh; */
  padding-left: 1vw;
  border-radius: 8px;
  border: 2px black solid;

  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 11pt;

  background-color: rgb(124, 197, 208);
}

.link:hover {
  /* background-color: rgb(184, 222, 228); */
  background-image: repeating-linear-gradient(
      45deg,
      rgb(184, 222, 228),
      rgb(184, 222, 228) 10px,
      rgb(124, 197, 208) 10px,
      rgb(124, 197, 208) 20px
  );
  background-size: 200% 200%;
  animation: barber-pole-animation 10s linear infinite;
}

.select-group {
  display: block;
  font-weight: 600;
  margin-left: 0.6vw;
}

option {
  text-align: center;
}

#KBB p {
  margin: 0;
  margin-left: 0.6vw;
  font-weight: 600;
  color:white;
}

#KBB label {
  color:white;
}


#form-label {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 0;
}

#course {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 5px;
  justify-content: right;
  border-radius: 7px;

  font-size: 10pt;

  width: 190px;
  height: 20px;
}

@keyframes barber-pole-animation {
  0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 100% 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}