extends ./layout.pug

block content
  -var hiTitle = "Notes"
  #main 
        tbody
          each note in notes
              td= note.note
              td
              //td
          //each
        //tbody
  //main
